.imagem-sobre {
    width: 100%;
    height: 400px;
    margin-top: 90px;
    
}

.imagem-sobre .sobre img {
  width: 400px;
  display: block;
  margin: auto;
  border-radius: 20px;
}

.sobre {
    width: 470px;
    height: auto;
    margin: auto;
    background-color: red;
}



.usuario-da-imagem {
    width: 100%;  
}

.titulo-da-imagem {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.descricao-imagem {
    font-size: 17px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px
}

.div-usuario {
    width: 100%;
    display: flex;
    align-items: center;
}

.usuario-da-imagem .div-usuario h3 {
    text-align: left;
}

.usuario-da-imagem .div-usuario .btn-seguir {
    margin-left: 20px;
}


.btn-seguir {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-seguir:hover {
    background-color: #ff6600;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .btn-seguir:active {
    background-color: #ff3300;
  }
  
  .btn-seguir:focus {
    outline: none;
  }
  
  .btn-seguir:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .btn-seguir.loading:before {
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.usuario-da-imagem .div-usuario img {
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.comentarios-imagem {
    width: 100%;
    height: 200px;
    background-color: rebeccapurple;
}

.titulo-comentario {
    font-size: 20px;
    margin-left: 20px;
    padding: 20px;
}