* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-imagem-tema {
  width: 80%;
  min-height: 300px;
  background-color: aqua;
  margin: auto;
  padding: 10px;
}

.img-image-tema {
  display: block;
  width: 400px;
  height: 400px;
  margin: auto;
  border-radius: 30px;
}

.gostou {
  width: 150px;
  margin: auto;
  padding: 10px;
  background-color: blanchedalmond;
}

.gostou-coracao {
  display: block;
  margin: auto;
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;

}

.numerodegostei {
  font-size: 30px;
}

.gostou-coracao:hover {
  transform: scale(1.2);
}

.usuario-que-postou {
  display: flex;
  width: 80%;
  background-color: aquamarine;
  margin: auto;
  align-items: center;
  gap: 20px;
}

.imagem-perfil-img {
  width: 80px;
  border-radius: 50%;
}

.nome-do-usuario {
  font-size: 18px;
  font-weight: bold;
}

.btns005 {
  cursor: pointer;
}

.comentarios {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin: auto;
  background: burlywood;
  max-height: 400px;
  overflow: auto;
}


.comentario-digitado {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 17px;
}

.imagem-do-usuario-comentario {
  width: 50px;
  border-radius: 50%;
}

.comentariodousuario {
  overflow: auto;
  max-height: 200px;
  padding: 20px;
  background-color: rgba(220, 217, 224, 0.89);
  border-radius: 20px;
}

@media screen and (max-width: 490px) {
  .container-imagem-tema {
    width: 100%;

  }
  .img-image-tema {
    width: 100%;
    height: auto;
  }



  .usuario-que-postou {
    width: 100%;
  }

  .comentarios {
    width: 100%;
    padding: 10px;
  }

}