* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 40px;
    border-radius: 50%;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-form input {
    padding: 8px;
    border: none;
    outline-color: aqua;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #d1cbcb;
  }
  
  .search-form button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .icon-menus {
    width: 40px;
  }
  
  .menu-items {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .menu-items li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .menu-items li a:hover {
    background-color: #f2f2f2;
  }