.container-componentes {
    display: flex;
  
}

::-webkit-scrollbar {
    width: 0;
}

.logo-do-site {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rebeccapurple;
    padding: 5px;
}

.logo-do-site a img{
    width: 50px;
    border-radius: 50%;
}

/*Menu vestical*/

.menu-vestical {
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    border: 1px solid black;
    overflow: auto;
}


.liste-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(100vh - 68px);
}

.link-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-menu {
    width: 40px;
}

.icon-menu:hover {
    transform: scale(1.1);
}

.content-conteudo {
    width: 80%;
    margin-left: 10%;
    padding: 20px;
}

