

main {
  margin-top: 81px;
  padding: 20px;
  height: 100vh;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilos para a seção de mensagens */
.mensagem-container {
  max-width: 800px;
  margin: 0 auto;
}

.mensagem {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.mensagem h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.mensagem p {
  color: #666;
  font-size: 16px;
}

/* Estilos responsivos */
@media screen and (max-width: 490px) {

  main {
    margin-top: 10px;
  }

  .mensagem-container {
    padding: 10px;
  }

  .mensagem h3 {
    font-size: 20px;
  }

  .mensagem p {
    font-size: 14px;
  }
}