
body {
    min-height: calc(100vh - 81px);
    position: relative;
}

.div-container {
    min-height: calc(100vh - 81px);
    width: 100%;
    margin-top: 81px;
}

.div-editar-perfil {
    width: 200px;
    height: 50px;
    padding: 4px;
}

.div-editar-perfil h1 {
    margin-top: 10px;
}


.div-container-conteudo-imagem-de-perfil {
    margin-top: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px auto 0 auto;
    border-radius: 30px;
}


.container-imagem-editar {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 10px;
}

.nome-do-usuario-editar-perfil {
    margin-left: 30px;
}

.editar-imagem-perfil {
    border-radius: 50%;
    width: 120px;
}

.span-edita-perfil {
    cursor: pointer;
}

.div-edita-biografia {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto 0 auto;
}

.editar-nome {
    min-width: 90%;
    max-width: 90%;
    min-height: 60px;
    max-height: 60px;
    border-radius: 10px;
    padding: 5px;
    outline-color: rgb(157, 230, 230);
    border: 1px solid rgb(155, 149, 149);
}

.biografia-titulo {
    font-size: 25px;
    margin-bottom: 10px;
}

#biografia-textarea {
    min-width: 90%;
    max-width: 90%;
    min-height: 60px;
    max-height: 60px;
    border-radius: 10px;
    padding: 5px;
    overflow-y: auto;
    outline-color: rgb(157, 230, 230);
}

.salva {
    width: fit-content;
    display: block;
    margin: 10px auto;
}

#alert-personalizado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(216, 213, 213, 0.616);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.alert-personalizado p {
    font-size: 40px;
}

.cancalar {
    background-color: red;
}

.cancalar:hover {
    background-color: brown;
}


.buttons-div {
    height: 200px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 599px) {
    .div-container {
        margin-top: 0px;
    }

    .div-container-conteudo-imagem-de-perfil {
        flex-direction: column;
    }


    .container-imagem-editar {
        flex-direction: column;
    }

    .nome-do-usuario-editar-perfil {
        margin-left: 0;
        text-align: center;
        padding: 10px;
    }
}

@media screen and (max-width: 379px) {
    .div-container {
       margin-bottom: 90px;
    }

}