.container-mae {
    width: 80%;
    padding: 3px;
    margin: 70px auto;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    padding-top: 20px;
    
    
  }
  
  .grid-item {
    border-radius: 10px;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    cursor: zoom-in;
    filter: drop-shadow(0px 0px 10px rgba(99, 98, 98, 0.5));
    padding: 10px;
  }


  .titulo-mobile .titulo-m{
    display: none;
  }

  @media screen and (max-width: 490px) {

    .container-mae {
      width: 100%;
    }


    .titulo-mobile {
      width: 100%;
      position: fixed;
      top: 0;
      background: #f2f2f2;
      z-index: 999;
    }
    .titulo-mobile .titulo-m{
      width: 100%;
      font-size: 20px;
      padding: 10px;
      display: block;
      margin-top: 0;
    }

    .container-mae {
      margin-top: 50px;
      margin-bottom: 100px;
    }

    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
